!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}
    .application-navbar
      .container
        .row
          .col-sm-4.col-xs-6.col-xs-push-6.col-sm-push-0
            .navbar-description
              Магазин современных украшений
              %br
              = "+7 903 595 1737"
              %br
              = "+7 495 999 7939"
          .col-sm-4.col-xs-6.col-xs-pull-6.col-sm-pull-0
            %a.navbar-brand-link{href: 'welcome.html'}
              %img.navbar-brand-image{src: 'images/logo.svg'}
          .row.visible-xs
          .col-sm-4.col-xs-6.col-xs-push-6.col-sm-push-0
            %a.navbar-cart-btn.navbar-cart-btn-empty
              %span.navbar-cart-btn-caption
                Корзина &mdash; пока пусто
              %span.navbar-cart-btn-icon
                %i.fa.fa-shopping-cart
                .clearfix
          .col-sm-12.col-xs-6.col-xs-pull-6.col-sm-pull-0
            %button.navbar-categories-toggle-btn.collapsed{"data-target" => "[categories-nav]", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-bars
              %span.navbar-categories-toggle-btn-caption
                Каталог
        .collapse.navbar-collapse{'categories-nav': ''}
          %ul.categories-nav
            - categories = ['Классика', 'Как-карат', 'Рич', 'Поп', 'Браслеты–ниточки', 'Кольца-трансформеры' ]
            - for c in categories
              %li
                %a{href: '#'}= "#{c}"

    .application-content
      .container
        .products__show
          .row
            .col-lg-8.col-lg-offset-2
              %h1.page-title Корзина
              .cart__list
                - for i in [1..5]
                  .cart__list-item
                    .row
                      .col-md-2.col-xs-4
                        %img{ src: "images/product-thumb.png", width: 46, height: 46}
                      .col-md-6.col-xs-8
                        .cart__list-item-title
                          Моно-серьга имитация тоннеля серебряная с белыми цирконами
                      .col-md-2.col-xs-4
                        %nobr.cart__list-item-quantity 1 штука
                      .col-md-2.col-xs-8
                        %nobr.cart__list-item-price
                          %strong
                            8 900 руб.
              .cart__list-total
                .row
                  .col-md-2.col-xs-4.col-md-offset-8
                    Итого
                  .col-md-2.col-xs-8
                    %nobr.cart__list-item-price
                      %strong
                        8 900 руб.
              .cart__list-actions
                .row
                  .col-sm-6
                    %a.cart-btn.cart__list-actions-btn{href: 'welcome.html'}
                      Продолжить покупки
                  .col-sm-6
                    %a.cart-btn-checkout.cart__list-actions-btn{href: 'checkout.html'}
                      Оформить заказ



      .application-footer
        .container
          .row
            .col-sm-8
              %ul.footer-nav
                - footer_links = ['Доставка', 'Форма оплаты', 'Контакты', 'О нас', 'Новости']
                - for l in footer_links
                  %li
                    %a{href: '#'}= "#{l}"
            .col-sm-4
              %ul.footer-nav
                - footer_social = ['Instagram', 'Facebook']
                - for l in footer_social
                  %li
                    %a{href: '#'}= "#{l}"
              .clearfix
