!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}
    .application-navbar
      .container
        .row
          .col-sm-4
            Магазин современных украшений
            %br
            = "+7 903 595 1737"
            %br
            = "+7 495 999 7939"
          .col-sm-4
            %a.navbar-brand-link{href: 'welcome.html'}
              %img.navbar-brand-image{src: 'images/logo.svg'}
          .col-sm-4
            %a.navbar-cart-btn.navbar-cart-btn-empty.pull-right
              Корзина &mdash; пока пусто
            .clearfix
    .application-content
      .container
        %ul.categories-nav
          - categories = ['Классика', 'Как-карат', 'Рич', 'Поп', 'Браслеты–ниточки', 'Кольца-трансформеры' ]
          - for c in categories
            %li
              %a{href: '#'}= "#{c}"
        .products__show
          .row
            .col-sm-6
              .carousel.slide{role: 'carousel product-show-carousel'}
                .carousel-inner
                  - for i in [0..3]
                    - if i == 0
                      - item_class = 'active'
                    - else
                      - item_class = ''
                    .products__show-item-image-block.item{class: "#{item_class}", role: 'product-show-image'}
                      %img.products__show-item-image{ src: "images/product-square-large.png" }
                .left.carousel-control{data: {target: '[role*="product-show-carousel"]', 'slide-to' => 'prev'} }
                  %span.fa.fa-angle-left.carousel-control-icon
                .right.carousel-control{data: {target: '[role*="product-show-carousel"]', 'slide-to' => 'next'} }
                  %span.fa.fa-angle-right.carousel-control-icon

              .products__show-images-list
                - for i in [0..3]
                  .products__show-image-thumb-block{data: {target: '[role*="product-show-carousel"]', 'slide-to' => i} }
                    %img.products__show-image-thumb{:src => "images/product-square.png"}
            .col-sm-6
              .products__show-item-content
                .products__show-item-category
                  Поп
                .products__show-item-title
                  Моно-серьга имитация тоннеля
                  серебряная золоченая с белыми
                  цирконами
                .products__show-item-price
                  8 900 руб.
                .row
                  .col-xs-6
                    -#%select.plain-select__select--single
                      -#%option{selected: 'selected'} Выберите размер
                    .dropdown
                      %a.dropdown-select-btn{href: '#', 'data-toggle' => 'dropdown'} Выберите размер
                      %ul.dropdown-menu
                        - sizes = ['15', '14', '13']
                        - for s, i in sizes
                          - if i == 1
                            - li_class = 'disabled'
                          - else
                            - li_class = ''
                          %li{class: "#{li_class}"}
                            %a
                              = "Размер #{s}"
                              - if i == 1
                                &ndash; нет в наличии


                  .col-xs-6
                    %a.products__show-item-cart-btn{href: 'cart.html'}
                      В корзину
                .products__show-item-description
                  Make peace, not war! Настоящий блокбастер среди украшений - серебряная моносерьга в виде пули Wanna?Be! - попала в самое сердце столичных модниц. Инкрустированный цирконами аксессуар не оставил и знаменитую на весь мир икону стилю, Рианну. Известная дива не раз дополняла этим аксессуаром свои образы. Рекомендуем надевать кулон вместе с белыми майками, кружевными эспадрильями и джинсами бойфренда.
                %ul.products__show-item-details
                  - details = [{'Серебро': '12 К'}, {'Цирконы': '10 К'}, {'Кристаллов': '1294'}, {'Вес': '3 гр' }]
                  - for obj, i in details
                    - for key of obj
                      %li
                        = "#{key}:"
                        = obj[key]
                
                %nobr.products__show-item-articul Арт: 1687


      .application-footer
        .container
          .row
            .col-sm-8
              %ul.footer-nav
                - footer_links = ['Доставка', 'Форма оплаты', 'Контакты', 'О нас', 'Новости']
                - for l in footer_links
                  %li
                    %a{href: '#'}= "#{l}"
            .col-sm-4
              %ul.footer-nav.pull-right
                - footer_social = ['Instagram', 'Facebook']
                - for l in footer_social
                  %li
                    %a{href: '#'}= "#{l}"
              .clearfix

    .modal.orders-modal.fade{"aria-hidden" => "true", "aria-labelledby" => "", :role => "product-modal", :tabindex => "-1"}
      .modal-dialog
        .modal-content{role: 'modal-content'}
          .carousel.slide{role: 'carousel product-show-carousel'}
            .carousel-inner
              - for i in [0..3]
                - if i == 0
                  - item_class = 'active'
                - else
                  - item_class = ''
                .item.products__show-item-image-block{class: "#{item_class}", role: 'product-show-image'}
                  %img.products__show-item-image{ src: "images/product-square-large.png" }
            .left.carousel-control{data: {target: '[role*="product-show-carousel"]', 'slide-to' => 'prev'} }
              %span.fa.fa-angle-left.carousel-control-icon
            .right.carousel-control{data: {target: '[role*="product-show-carousel"]', 'slide-to' => 'next'} }
              %span.fa.fa-angle-right.carousel-control-icon

            -#.products__show-images-list
              - for i in [0..3]
                .products__show-image-thumb-block{data: {target: '[role*="product-show-carousel"]', 'slide-to' => i} }
                  %img.products__show-image-thumb{:src => "images/product-square.png"}

