
!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Wanna?Be!
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}

    %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
    %link{:href => "images/favicon/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/touch-icon-57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "images/touch-icon-72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/touch-icon-76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "images/touch-icon-114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "images/touch-icon-120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "images/touch-icon-144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "images/touch-icon-152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    / Windows 8 Tiles
    %meta{:content => "images/touch-icon-144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#38b0aa", :name => "msapplication-TileColor"}
    %meta{:content => "The MatriXFiles", :name => "application-name"}
    / Internet Explorer 11 Tiles
    %meta{:content => "images/tile-70.png", :name => "msapplication-square70x70logo"}
    %meta{:content => "images/tile-150.png", :name => "msapplication-square150x150logo"}
    %meta{:content => "images/tile-310.png", :name => "msapplication-wide310x150logo"}
    %meta{:content => "images/tile-310.png", :name => "msapplication-square310x310logo"}
    / For iPad landscape splash screen
    %link{:href => "images/apple-splash-screen-1024x748.png", :rel => "apple-touch-startup-image", :sizes => "1024x748"}
    / For iPad portriat splash screen
    %link{:href => "images/apple-splash-screen-768x1004.png", :rel => "apple-touch-startup-image", :sizes => "768x1004"}
    / For iPhone, iPod high resolution portriat splash screen
    %link{:href => "images/apple-splash-screen-640x960.png", :rel => "apple-touch-startup-image", :sizes => "640x960"}
    / For iPhone, iPod standard resolution portriat splash screen
    %link{:href => "images/apple-splash-screen-320x480.png", :rel => "apple-touch-startup-image", :sizes => "320x480"}


  %body.theme-basic
    %script{src: 'scripts/bundle.js'}

    .application-navbar
      .container-fluid
        .row
          .col-sm-12.col-md-4
            .navbar-description
              Магазин мебели ручной работы
              %br
              = "+7 903 595 1737"
          .col-md-4.col-sm-12.col-xs-12.col-sm-pull-0
            %a.navbar-brand-link{href: 'welcome.html'}
              %img.navbar-brand-image{src: 'images/logo.png', alt:'field & rage'}
          .row.visible-xs
          .col-sm-4
            %a.navbar-cart-btn.navbar-cart-btn-empty
              %span.navbar-cart-btn-icon
              %span.navbar-cart-btn-caption
                Корзина
          .col-sm-12.col-xs-6.col-xs-pull-6.col-sm-pull-0.hidden-sm.hidden-xs
            %button.navbar-categories-toggle-btn.collapsed{"data-target" => "[categories-nav]", "data-toggle" => "collapse", type: "button"}
              %i.fa.fa-bars
              %span.navbar-categories-toggle-btn-caption
                Каталог
        .collapse.navbar-collapse{'categories-nav': ''}
          %ul.categories-nav#nav
            - categories = ['Столы', 'Стулья', 'Свет', 'Декор' ]
            - for c in categories
              %li
                %a{href: '#'}= "#{c}"
            %li.dropdown
              %a.dropdown-toggle{href: '#', data-toggle: "dropdown"} Аксессуары
              %ul.dropdown-menu
                %li
                  %a{href: '#', data-count:'45'} Категория
                %li
                  %a{href: '#', data-count:'1'} Категория
                %li
                  %a{href: '#', data-count:'6'} Категория
                %li
                  %a{href: '#', data-count:'12'} Категория
                %li
                  %a{href: '#', data-count:'4'} Категория
                %li
                  %a{href: '#', data-count:'9'} Категория
        %a#navopen.mmenu-open.visible-sm.visible-xs{href: "#nav"}
          %span.mmenu-open__tick.mmenu-open__tick_f
          %span.mmenu-open__tick.mmenu-open__tick_s
          %span.mmenu-open__tick.mmenu-open__tick_t


    .application-content
      .container-fluid
        .products__list
          %h1.products__list__title Табуретки
          .row
            - for i in [1..5]
              .products__list-item-wrap
                .products__list-item{role: 'jump', 'data-href': 'product.html'}
                  - if i == 1
                    .products__list-item-notification
                  .products__list-item-image-block
                    %img.products__list-item-image{ src: "images/product-square.jpg" }
                  .products__list-item-title
                    Моно-серьга имитация тоннеля серебряная с белыми цирконами
                  .products__list-item-price
                    8 900 руб.
            / .col-md-4.col-sm-6
            /   .products__list-item
            /     .products__list-item-image-block
            /       %img.products__list-item-image{src: 'images/product-more.svg'}

      .application-footer
        .container-fluid
          .application-footer__inner
            .row
              .col-sm-8
                %ul.footer-nav
                  - footer_links = ['Доставка', 'Оплата', 'Контакты', 'О нас', 'Новости']
                  - for l in footer_links
                    %li
                      %a{href: '#'}= "#{l}"
              / .col-sm-4
              /   %ul.footer-nav.footer-nav-social
              /     - footer_social = ['Instagram', 'Facebook']
              /     - for l in footer_social
              /       %li
              /         %a{href: '#'}= "#{l}"
              /   .clearfix
