!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    %script{src: 'scripts/bundle.js'}

    .application-navbar
      .container
        .row
          .col-sm-4
            Магазин современных украшений
            %br
            = "+7 903 595 1737"
            %br
            = "+7 495 999 7939"
          .col-sm-4
            %a.navbar-brand-link{href: 'welcome.html'}
              %img.navbar-brand-image{src: 'images/logo.svg'}
          .col-sm-4
            %a.navbar-cart-btn.navbar-cart-btn-empty.pull-right
              Корзина &mdash; пока пусто
            .clearfix
    .application-content
      .container
        %ul.categories-nav
          - categories = ['Классика', 'Как-карат', 'Рич', 'Поп', 'Браслеты–ниточки', 'Кольца-трансформеры' ]
          - for c in categories
            %li
              %a{href: '#'}= "#{c}"
        .welcome-carousel
          .carousel.slide
            .carousel-inner.welcome-carousel__inner
              %div.welcome-carousel__item.item.active.welcome-carousel__item-bg{ style: "background-image: url('images/product-cover.jpg')"}
                .container
                  .row
                    .col-sm-5.col-sm-offset-7
                      .welcome-carousel__item-container
                        .welcome-carousel__item-content
                          .welcome-carousel__item-title
                            Моно-серьга
                          .welcome-carousel__item-text
                            имитация тоннеля серебряная черненая с черными цирконами
                          .welcome-carousel__item-price 8 900 р.

        .products__list
          .row
            - for i in [1..5]
              .col-md-4.col-sm-6
                .products__list-item{role: 'jump', 'data-href': 'product.html'}
                  - if i == 1
                    .products__list-item-notification
                  .products__list-item-image-block
                    %img.products__list-item-image{ src: "images/product-square.png" }
                  .products__list-item-title
                    Моно-серьга имитация тоннеля серебряная с белыми цирконами
                  .products__list-item-price
                    8 900 руб.
            .col-md-4.col-sm-6
              .products__list-item
                .products__list-item-image-block
                  %img.products__list-item-image{src: 'images/product-more.svg'}

      .application-footer
        .container
          .row
            .col-sm-8
              %ul.footer-nav
                - footer_links = ['Доставка', 'Форма оплаты', 'Контакты', 'О нас', 'Новости']
                - for l in footer_links
                  %li
                    %a{href: '#'}= "#{l}"
            .col-sm-4
              %ul.footer-nav.pull-right
                - footer_social = ['Instagram', 'Facebook']
                - for l in footer_social
                  %li
                    %a{href: '#'}= "#{l}"
              .clearfix
